html.ph
  min-height 100%
  background transparent

body.ph
  min-height 100vh

*.ph,
*.ph:before,
*.ph:after
  box-sizing border-box
  margin 0
  padding 0
  font-family "Roboto", "Helvetica Neue", helvetica, sans-serif
  font-size 1rem
  line-height 1.75rem
  letter-spacing normal


.ph:focus,
.ph.is-focused
  outline 2px dashed #2872ff
  outline-offset 8px




fieldset.ph
  border none

legend.ph
  margin-bottom 1rem
  font-weight 700
  font-weight 500
  text-transform uppercase
  width 100%
  display block
  padding-bottom 4px
  margin-top 8px
  color rgba(0,0,0,0.5)
  text-shadow 1px 1px white

.ph

  &.demo
    flex-direction column
    width 100%
    height 100%
    box-sizing border-box
    position relative
    margin 0
    padding 0
    display flex
    background transparent
    &.is-embedded
      min-height 100vh

  &.container
    display flex
    width 100%
    height 100%
    flex-shrink 0
    flex-grow 1

  &.header
    height 4rem
    padding 1rem 2rem
    width 100%
    display flex
    align-items center
    background transparent
    flex-shrink 0
    position fixed
    top 0
    z-index 4
    left 0

  &.preview
    background #ecf0f3
    height auto
    flex-grow 0
    flex-shrink 0
    width 100%
    padding-top 4rem
    display none
    justify-content center
    align-items center
    &.is-active
      display flex
    &.no-ui
      width 100%
      padding 0

  &.configuration
    background linear-gradient(-45deg,#d1d9e6,rgba(209,217,230,.2))
    overflow-y auto
    padding 0
    margin 0
    height 100%
    width 320px
    z-index 3
    position absolute
    top 0
    right 0
    display none
    border-left 1px solid rgba(209,217,230,.2)

.ph.demo.is-embedded
  & .configuration
    position fixed

@media screen and (min-width: 720px)
  .ph.configuration
    display block

@media screen and (min-width: 720px)
  .ph.preview
    width calc(100% - 320px)

@media screen and (min-width: 720px)
  .ph.header
    width calc(100% - 320px)


.ph.menu-container
  position relative
  display flex

.ph.menu-container.backgrounds
  margin-left auto

.ph.button.icon
  display inline-block
  border none
  box-shadow none
  margin 0
  padding 0
  background-repeat no-repeat
  background-color transparent
  background-clip border-box
  background-size 1.5rem 1.5rem
  user-select none
  position relative
  z-index 0
  cursor pointer
  height 1.5rem
  width 1.5rem
  max-width none
  min-width 1.5rem
  flex-grow 0
  flex-shrink 0
  text-decoration none
  transition all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1)
  overflow hidden
  text-indent -99999px

.ph.button.icon.backgrounds
  opacity 0.3
  background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke-width='3' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath d='M3 61L61 3'/%3E%3Cpath d='M3 45L45 3' data-color='color-2'/%3E%3Cpath d='M3 29L29 3'/%3E%3Cpath d='M3 13L13 3M19 61l42-42' data-color='color-2'/%3E%3Cpath d='M36 60l24-24'/%3E%3Cpath d='M51 61l10-10' data-color='color-2'/%3E%3C/g%3E%3C/svg%3E")

.ph.button.icon.backgrounds:hover,
.ph.button.icon.backgrounds:active,
.ph.button.icon.backgrounds:focus,
.ph.button.icon.backgrounds.is-focused,
.ph.button.icon.backgrounds.is-active
  opacity 1


form.ph
  padding 2rem 2.5rem
  border-bottom 1px solid rgba(209,217,230,.8)
  &:last-of-type
    border none



.ph.html,
.ph.a11y
  background transparent
  height auto
  flex-grow 0
  flex-shrink 0
  width calc(100% - 320px)
  padding-top 4rem
  display none
  justify-content center
  align-items center
  position relative
  &.is-active
    display flex
  &.no-ui
    width 100%
    padding 0


.ph.button.text
  text-transform uppercase
  font-weight 500
  font-size 12px
  background transparent
  border none
  padding 0 0.5rem
  margin 0
  height 28px
  cursor pointer
  opacity 0.3
  color #000

  &.is-active
    cursor default
  &:hover,
  &.is-active
    opacity 1
  + .ph.button.text
    margin-left 0.5rem


.ph.html pre
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  margin 0
  padding 0
  padding-top 4rem
  padding-left 2.5rem

@require './menu.styl'
@require './selection-controls.styl'
